* {
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: #6998AB;
}

.container {
    display: grid;
    grid-template-rows: 200px 3fr;
}

.card-container {
    margin: 8px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.weather-card {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.1);
    padding: 48px 8px;
    border-radius: 8px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    font-size: 24px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    border: 2px solid black;
}

.form-container input:focus {
    outline: none;
}

.form-container button {
    font-size: 24px;
    padding: 4px;
}

.weather-card .card-date {
    /* color: black; */
    font-size: 36px;
}

.weather-container .header {
    color: white;
    padding: 16px;
    display: flex;
    justify-content: start;
    font-size: 72px;
}